width:24px;
height:24px;
background-image:url("img hanburgue");
display:inline-block;
}
.cabecalho{  
display:flex;
justify-content:space-between;
align-items:center;
 background-color:var[--cor-de-fundo];
 padding: 1em;
}
.container{
display:flex;
align-items:center;
}
.container-imagem,.container-titulo,
.container-frase{
padding:1em;
}
.container-titulo,.container-frase{
display:nome;
}
@media screen and(min-width:820px);{.container-titulo,.container-titulo-negrito{font:size 30px;
}
.container{
display:block;
width:30vw;
}
}
@media screen and (min-width:1024){
.container-frase{
display:block;
font-size:20px;
padding-left:5em;
}
}
.cabecalho__menu-hamburgue{
width:24px;
height:24px;
display:inline-block;
}
.menu-hamburguer-imagem{
width:24px;
height:24px;
justify-content:space-between;
align-items:center;
}
.container__imagem{
width:24px;
height:24px;
justify-content:space-between;
align-items:center;